<div class="page-header">
  <h3>Neighbourhood #<%= @neighbourhood.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Neighbourhoods list</dt>
      <dd><%= @neighbourhood.neighbourhoods_list %></dd>

      <dt>City</dt>
      <dd><%= @neighbourhood.city_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/neighbourhoods" class="btn btn-primary">
        Back
      </a>
      <a href="/neighbourhoods/<%= @neighbourhood.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_neighbourhood/<%= @neighbourhood.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Neighbourhood has many listings -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Listings
      </li>

      <% @neighbourhood.listings.each do |listing| %>
        <li class="list-group-item">
          <a href="/listings/<%= listing.id %>">
            <%= listing.listing_title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
